
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Font-awesome
@import "node_modules/font-awesome/css/font-awesome";

// Bulma
@import "node_modules/bulma/css/bulma";

// Custom
@import "helpers";
@import "forms";
@import "animations";

html{
	background:none;
	height:100%;
}

body{
	height:100%;
}

.info-box{
	min-height: 160px;
}

.column:not(:last-child){
	border-right:1px solid #eee;
}

.is-icon-left{
	padding-right:20px;
}

.text-is-centered{
	text-align:center;
}

.centered-form{
	max-width:500px;
	margin:0 auto;
}

.hero p{
	color:white;
}



.fat-cash{
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.has-2m-lineheight{
	line-height: 2.5em!important;
}

.nav{
	min-height:60px;
}

.button .icon:last-child, .button .tag:last-child{
	margin-left:-1px;
}

.products{
	background-color:#eee;
}

.blockquote button{
	float:right!important;
}

.product-card{
	float:left;
	margin: 10px;
	width: 280px;
}