
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Font-awesome
@import "node_modules/font-awesome/css/font-awesome";

// Fonts
@import "fonts";

// Overwrite
@import "overwrite";

// Bulma
@import "node_modules/bulma/css/bulma";

// Custom
@import "helpers";
@import "forms";
@import "animations";
@import "cart";
@import "masonry";

[v-cloak] { display:none; }

html{
	background:none;
	height:100%;
}

body{
	height:100%;
}

#app{
	display: flex;
	flex-direction: column;
	height:100vh;
}

.chooseLanguage{
	display:flex;
	position:absolute;
	background-color:white;
	top: 70px;
    right: 0;
}

.chooseLanguage a{
	padding:10px;
	color:$konvert-blue;
}

.content-wrapper{
	flex:1;
}

.info-box{
	min-height: 160px;
}

.column:not(:last-child){
	border-right:1px solid #eee;
}

.is-icon-left{
	padding-right:20px;
}

.is-icon-right{
	padding-left:20px;
}

.text-is-centered{
	text-align:center;
}

.centered-form{
	max-width:500px;
	margin:0 auto;
}

.hero p{
	color:white;
}



.fat-cash{
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.has-2m-lineheight{
	line-height: 2.5em!important;
}

.nav{
	min-height:60px;
}

.button .icon:last-child, .button .tag:last-child{
	margin-left:-1px;
}

.products{
	/*background-color:#eee;*/
}

.blockquote button{
	float:right!important;
}

.product-card{
	float:left;
	margin: 10px;
	width: 280px;
}

.single-product-card{
	width: 280px;
	padding: 10px;
	margin:10px;
	float:left;
	border-top:2px solid $blue-dark;
	-webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.2);
}

.single-product-card h3{
	text-transform: uppercase;
	font-size:1em;
	font-weight:500;
	padding-bottom:10px;
}

.single-product-card-info{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.columns-panel{
	background-color: #fbfbfb;
	padding: 20px;
}

.is-primary:hover{
	background-color:darken($blue-dark, 4%)!important;
}

.button-centered{
	margin: 0 auto;
    display: block;
}

.button{
	border-radius:18px;
	border:none;
}

/*.modal-content{
	padding:50px;
	background-color:white;
}*/

.loading-overlay{
	position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border:none;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 3px 2px 21px -1px rgba(0,0,0,0.25);
-moz-box-shadow: 3px 2px 21px -1px rgba(0,0,0,0.25);
box-shadow: 3px 2px 21px -1px rgba(0,0,0,0.25);
}

.loading-message{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #b1b1b1;
    /*font-family: Quicksand;*/
}